<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MagicNewsUrl" value="http://217.21.63.69/#/magic"/>
		<add key="NewsMaxUrl" value="http://217.21.63.69/#/newsmax"/>
		<add key="FileToUpload" value="test-file.xml"/>
		<add key="FromUsername" value="magicnewstest@gmail.com"/>
		<add key="FromPassword" value="magicPassword" />
		<add key="ToMails" value="pavel_bakunovich@epam.com;mikhail_karanik@epam.com" />
	</appSettings>
</configuration>
